* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}


/* main container */

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 200px;
    border: solid red;
    border-width: thick;
}


/* profile boxes */

.flex-box {
    display: inline-block;
    flex: none;
    /* align-content: center; */
    width: 236px;
    border: solid green;
    border-width: thick;
}

.photos {
    /* display: flex; */
    border-radius: 50px 100px;
    width: 100px;
    align-content: center;
    /* border: solid red; */
    width: 200px;
}

.name {
    /* display: flex; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    padding: 12px;
    /* border: solid red; */
    width: 200px;
}

.email {
    /* display: flex; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: gray;
    text-align: center;
    padding: 10px;
    /* border: solid red; */
    width: 200px;
}

.profiles {
    /* display: flex; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
    text-transform: capitalize;
    width: 200px;
}