* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-content: center;
    height: 200px;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    align-content: center;
    width: 200px;
}

.photos {
    border-radius: 50px;
    height: 100px;
    align-self: center;
}

.name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    text-align: center;
    padding: 12px;
}

.email {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color: gray;
    text-align: center;
}


}
.profiles {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}